@model ContosoUniversityMVC.Models.Course

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.Title, "Title:")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.LabelFor(model => model.Credits, "Credits:")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Credits)
        </dd>
        <dt>
            @Html.LabelFor(model => model.Department, "Department:")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Department.DepartmentID)
        </dd>
    </dl>
    <form>
        <a asp-action="Edit" asp-route-id="@Model.CourseID" class="btn btn-default">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>

