@model ContosoUniversityMVC.Models.Instructor

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Instructor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.LastName, "Last Name:")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.LabelFor(model => model.FirstMidName, "First Name:")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstMidName)
        </dd>
        <dt>
            @Html.LabelFor(model => model.HireDate, "Hire Date:")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HireDate)
        </dd>
    </dl>
    <form>
        <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-default">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>

